@use "../../variables.scss" as *;

.card {
  height: 300px;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 600px;
  position: relative;
  z-index: 0;

  &.flipped {
    transform: rotateY(180deg);
  }
}

.cardSide {
  height: 300px;
  width: 100%;
  backface-visibility: hidden;
  position: absolute;

  &:hover {
    cursor: pointer;
  }
}

.cardBack {
  background-color: white;
  border-radius: $radius;
  transform: rotateY(180deg);
}