@use "./variables.scss" as *;

.main {
  font-family: $font-main;
  width: 100vw;
}

.content {
  background-color: $color-blue;
  display: flex;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}