@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Rubik&display=swap');

//colours
$color-blue: #6384a1;
$color-yellow: #fac102;
$color-white: #f9f9f9;

//spacing
$base-spacing: 5px;

//box styling
$radius: 10px;
$shadow: 0 10px 5px rgb(0 0 0 / 0.3);

//fonts
$font-main: 'Gothic A1', sans-serif;
